<div class="row justify-content-start mb-3">
    <div class="col-4">
        <label>Наименование:</label>
        <input class="form-control" type="text" id="txtName" />
    </div>
    <div class="col-2">
        <label>Количество:</label>
        <input class="form-control" type="text" id="txtQuantity" />
    </div>
    <div class="col-2">
        <label>Ед.изм.:</label>
        <input class="form-control" type="text" id="txtUnit" />
    </div>
</div>
<div class="row">
    <div class="col-auto">
        <input class="btn btn-outline-primary mb-3" type="button" id="btnAdd" value="Добавить" />
    </div>
</div>


